header {
    display: flex;
    background-color: rgb(121, 165, 212);
    color: whitesmoke
}
.container {
    width: 1200px;
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(216, 230, 241);
}

.header-right {
    padding-top: 30px;
    padding-right: 10px;
    text-align: right;
    justify-content: right;
    width: 100%;
}

.header-left {
    padding-left: 10px;
}

.main-side {
    display: flex;
}

.main-section {
    width: 70%;
    background-color: rgb(250, 239, 223);
    padding: 10px;
}

.side-bar {
    display: inline-block;
    width: 30%;
    justify-content: right;
    padding: 10px;
}

h1 {
    font-weight: 800;
}

h2 {
    border-bottom: 5px solid rgb(121, 165, 212);
    border-radius: 1px;
    color:rgb(121, 165, 212);
    font-weight: 700;
}

h3 {
    font-weight: 600;
}
